@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* .container {
  width: 40%;
  margin: 0 auto;
  text-align: left;
  position: relative;
  bottom: -3rem;
} */

/* .hero {
  background-color: #1d1d1d;
  flex-grow: 0.5;
  text-align: center;
  color: white;
  font-weight: 400;
} */

/* .hero-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
} */

/* .footer {
  flex-grow: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

/* .color-bar {
  display: flex;
  justify-content: center;
} */

/* .options {
  text-align: center;
} */

/* h4 {
  font-weight: 500;
} */

/* .header {
  position: relative;
  top: 30px;
} */

/* .feature-item {
  background-color: #1d1d1d;
  padding: 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  color: white;
  font-weight: 500;
  margin: 1rem;
} */

/* .features {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
} */

/* .icons {
  padding-top: 1rem;
} */

/* .credits {
  text-align: center;
  padding-bottom: 1rem;
} */
